 <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header style="text-align:center">
            <div style="text-align: center; width:100%; display: block;">
              <img src="assets/img/logo.png" alt="" style="max-width: 100%;width: 70px;margin: 20px 0 0 0;">
            </div>
          </ion-list-header>          
        </ion-list>
        <ion-list id="inbox-list">
          <ion-list-header>
            <div style="text-align: center;display: block;width: 100%; font-size:12px">
              <span style="font-size:26px">COVID 19 </span><br/> Municipalidad de Lanús - Secretaría de salud
            </div>
          </ion-list-header>
        </ion-list>
        <ion-list id="inbox-list">
          <ion-list-header style="text-align:center">
            Redes sociales
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="openRedSocial(p.url)" lines="none" detail="false">
              <ion-icon slot="start" [ios]="p.icon" [md]="p.icon" [ngStyle]="{color:p.color}"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Acciones</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of label; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>


    <ion-tabs id="main-content">

        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="mapas">
            <ion-icon name="locate-outline"></ion-icon>
            <ion-label>Mapas</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="quedateencasa">
            <ion-icon name="home"></ion-icon>
            <ion-label>Quedate</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="noticias">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>Noticias</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="consejos">
            <ion-icon name="medical-outline"></ion-icon>
            <ion-label>Consejos</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="prueba">
            <ion-icon name="body-outline"></ion-icon>
            <ion-label>Test</ion-label>
          </ion-tab-button>          
        </ion-tab-bar>

      </ion-tabs>



  </ion-split-pane>
