<ion-content>  
    <div class="cover-content cover-content-center">
      <div class="page-login content-boxed content-boxed-padding">        
        <h3 class="uppercase ultrabold full-top no-bottom color-black">RECUPERAR CONTRASEÑA</h3>
        <p class="smaller-text half-bottom">Hola, introduce tus datos de registro para recuperar</p>
        <form (ngSubmit)="register()">                 
            <div class="page-login-field half-top">
              <i class="fas fa-at color-black"></i>
              <input type="email" [(ngModel)]="data.email" name="email" placeholder="Email *">
              <em>(required)</em>
            </div>             
            <div class="page-login-field half-top">
              <ion-checkbox slot="end" [(ngModel)]="data.terminos" name="terminos"></ion-checkbox>
              <ion-label>Acepto los términos y condiciones</ion-label>
            </div>


            <div class="page-login-links small-bottom">
              <a class="forgot float-right" href="javascript:void(0)" (click)="router.navigateByUrl('home')"><i class="fa fa-user float-right color-black"></i>Ya tengo cuenta</a>          
              <div class="clear"></div>
            </div>
            <button type="submit" class="button back-button button-green button-full button-rounded button-s uppercase ultrabold">RECUPERAR</button>
        </form>
      </div>    
    </div>
    <div class="cover-infinite-background"></div>
    <div class="cover-overlay overlay bg-black opacity-80"></div>
  
</ion-content>