<ion-header [translucent]="true">
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>Estadísticas</span>            
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary"> 
	
	<!-- List of Sliding Items -->
	<ion-list *ngIf="activo">
	  
	  <ion-item-sliding *ngFor="let i of listado">
	    
	    <ion-item>
	      <ion-label>Primer caso confirmado</ion-label>
	      <ion-badge color="primary" slot="end">{{i.primer_caso_confirmado}}</ion-badge>
	    </ion-item>

	    <ion-item>
	      <ion-label>Total de infectados</ion-label>
	      <ion-badge color="warning" slot="end">{{i.infectados}}</ion-badge>
	    </ion-item>

	    <ion-item>
	      <ion-label>Total de casos curados</ion-label>
	      <ion-badge color="light" slot="end">{{i.curados}}</ion-badge>
	    </ion-item>
	    
	  </ion-item-sliding>

	</ion-list>

	<ion-list *ngIf="!activo">
	  
	  <ion-item-sliding>
	    
	    <ion-item>
	      <ion-label>Estamos actualizando esta sección</ion-label>
	    </ion-item>
	  </ion-item-sliding>
	</ion-list>

</ion-content>