<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>Test</span>      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <form  #form="ngForm" (ngSubmit)="register()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div style="text-align: center">
            <img src="assets/img/logo.png" alt="" style="width:50px;">
          </div>
          <div>
          	<ion-item-divider>
    			    <ion-label>
    			      Síntomas
    			    </ion-label>
		        </ion-item-divider>

            <ion-list lines="none">   
              <ion-item>
                <ion-label class="ion-text-wrap">¿Cuál es tu temperatura corporal (°C)?</ion-label>
              </ion-item>
              <ion-item class="temperatura">              
                <ion-item color="primary" (click)="addTemperatura('-')">                  
                    <ion-label style="width:100%">-</ion-label>                                      
                </ion-item>
                <ion-item>
                  <ion-input name="temperatura" type="text" placeholder="temperatura" required value="37" [(ngModel)]="datos.temperatura"></ion-input>
                </ion-item>
                <ion-item color="primary" (click)="addTemperatura('+')">
                    <ion-label style="width:100%">+</ion-label>
                </ion-item>
              </ion-item>   
            </ion-list> 

            <ion-list lines="none">   
              <ion-item>
                <ion-label class="ion-text-wrap">¿Tenés tos o dolor de garganta?</ion-label>
              </ion-item>
              <ion-item>              
                <div class="estadoSalud">
                  <ion-item class="ion-text-wrap">
                    <div class="sino {{datos.tos_dolor_garganta==1?'seleccionado':''}}" (click)="datos.tos_dolor_garganta = 1">
                      <ion-label class="ion-text-wrap">SI</ion-label>                    
                    </div>                  
                  </ion-item>
                  <ion-item class="ion-text-wrap">
                    <div class="sino {{datos.tos_dolor_garganta==0?'seleccionado':''}}" (click)="datos.tos_dolor_garganta = 0">
                      <ion-label class="ion-text-wrap">NO</ion-label>
                    </div>               
                  </ion-item>                
                </div>
              </ion-item>   
            </ion-list>
            <ion-list lines="none">   
              <ion-item>
                <ion-label class="ion-text-wrap">¿Tenés dificultad respiratoria o falta de aire?</ion-label>
              </ion-item>
              <ion-item>              
                <div class="estadoSalud">
                  <ion-item class="ion-text-wrap">
                    <div class="sino {{datos.respiracion==1?'seleccionado':''}}" (click)="datos.respiracion = 1">
                      <ion-label class="ion-text-wrap">SI</ion-label>                    
                    </div>                  
                  </ion-item>
                  <ion-item class="ion-text-wrap">
                    <div class="sino {{datos.respiracion==0?'seleccionado':''}}" (click)="datos.respiracion = 0">
                      <ion-label class="ion-text-wrap">NO</ion-label>
                    </div>               
                  </ion-item>                
                </div>
              </ion-item>   
            </ion-list>

            <ion-list lines="none">   
              <ion-item>
                <ion-label class="ion-text-wrap">¿Tenés falta de olfato o gusto?</ion-label>
              </ion-item>
              <ion-item>              
                <div class="estadoSalud">
                  <ion-item class="ion-text-wrap">
                    <div class="sino {{datos.falta_olfato_o_gusto==1?'seleccionado':''}}" (click)="datos.falta_olfato_o_gusto = 1">
                      <ion-label class="ion-text-wrap">SI</ion-label>                    
                    </div>                  
                  </ion-item>
                  <ion-item class="ion-text-wrap">
                    <div class="sino {{datos.falta_olfato_o_gusto==0?'seleccionado':''}}" (click)="datos.falta_olfato_o_gusto = 0">
                      <ion-label class="ion-text-wrap">NO</ion-label>
                    </div>               
                  </ion-item>                
                </div>
              </ion-item>   
            </ion-list>
            <ion-item-divider>
    			    <ion-label>
    			      Situación de salud
    			    </ion-label>
			      </ion-item-divider>
            
            <div class="estadoSalud">
              <ion-item class="ion-text-wrap">
                <div class="{{datos.mayor_de_60==1?'seleccionado':''}}" (click)="datos.mayor_de_60 = datos.mayor_de_60 == 1?0:1">
                	<ion-label class="ion-text-wrap">Mayor de 60 años</ion-label>
                	<ion-checkbox name="mayor_de_60" [(ngModel)]="datos.mayor_de_60"></ion-checkbox>
                </div>
              </ion-item>
              <ion-item class="ion-text-wrap">
                <div class="{{datos.embarazada==1?'seleccionado':''}}" (click)="datos.embarazada = datos.embarazada == 1?0:1">
    				      <ion-label class="ion-text-wrap">Estoy embarazada</ion-label>
                	<ion-checkbox name="embarazada" [(ngModel)]="datos.embarazada"></ion-checkbox>
                </div>
              </ion-item>
              <ion-item class="ion-text-wrap">
                <div class="{{datos.cancer==1?'seleccionado':''}}" (click)="datos.cancer = datos.cancer == 1?0:1">
                	<ion-label class="ion-text-wrap">Cáncer</ion-label>
                	<ion-checkbox name="cancer" [(ngModel)]="datos.cancer"></ion-checkbox>
                </div>
              </ion-item>
              <ion-item class="ion-text-wrap">
                <div class="{{datos.diabetes==1?'seleccionado':''}}" (click)="datos.diabetes = datos.diabetes == 1?0:1">
                	<ion-label class="ion-text-wrap">Diabetes</ion-label>
                	<ion-checkbox name="diabetes" [(ngModel)]="datos.diabetes"></ion-checkbox>
                </div>
              </ion-item>
              <ion-item class="ion-text-wrap">
                <div class="{{datos.enfermedad_hepatica==1?'seleccionado':''}}" (click)="datos.enfermedad_hepatica = datos.enfermedad_hepatica == 1?0:1">
                	<ion-label class="ion-text-wrap">Enfermedad hepática</ion-label>
                	<ion-checkbox name="enfermedad_hepatica" [(ngModel)]="datos.enfermedad_hepatica"></ion-checkbox>
                </div>
              </ion-item>
              <ion-item class="ion-text-wrap">
                <div class="{{datos.enfermedad_renal==1?'seleccionado':''}}" (click)="datos.enfermedad_renal = datos.enfermedad_renal == 1?0:1">
                	<ion-label class="ion-text-wrap">Enfermedad renal crónica</ion-label>
                	<ion-checkbox name="enfermedad_renal" [(ngModel)]="datos.enfermedad_renal"></ion-checkbox>
                </div>
              </ion-item>
              <ion-item class="ion-text-wrap">
                <div class="{{datos.enfermedad_respiratoria==1?'seleccionado':''}}" (click)="datos.enfermedad_respiratoria = datos.enfermedad_respiratoria == 1?0:1">
                	<ion-label class="ion-text-wrap">Enfermedad Respiratoria</ion-label>
                	<ion-checkbox name="enfermedad_respiratoria" [(ngModel)]="datos.enfermedad_respiratoria"></ion-checkbox>
                </div>  
              </ion-item>
              <ion-item class="ion-text-wrap">
                <div class="{{datos.enfermedad_cardiologica==1?'seleccionado':''}}" (click)="datos.enfermedad_cardiologica = datos.enfermedad_cardiologica == 1?0:1">
                	<ion-label class="ion-text-wrap">Enfermedad Cardiológica</ion-label>
                	<ion-checkbox name="enfermedad_cardiologica" [(ngModel)]="datos.enfermedad_cardiologica"></ion-checkbox>
                </div>  
              </ion-item>
            </div>

            <ion-item-divider>
          	    <ion-label>
          	      Datos personales
          	    </ion-label>
          	</ion-item-divider>
            <ion-item>
              <ion-label class="ion-text-wrap">Edad</ion-label>
              <ion-input name="edad" type="text" placeholder="Edad" [(ngModel)]="datos.edad"></ion-input>
            </ion-item>  
            <ion-item>
              <ion-label class="ion-text-wrap">Teléfono</ion-label>
              <ion-input name="telefono" type="text" placeholder="Teléfono" [(ngModel)]="datos.telefono"></ion-input>
            </ion-item>    
            <ion-item>
              <ion-label class="ion-text-wrap">Email</ion-label>
              <ion-input name="correo" type="text" placeholder="Correo de contacto" [(ngModel)]="datos.correo"></ion-input>
            </ion-item>  
            <ion-item>
              <ion-label class="ion-text-wrap">Dirección</ion-label>
              <input id="field-direccion" class="native-input sc-ion-input-md" name="direccion" type="text" placeholder="Direccion" [(ngModel)]="datos.direccion">
            </ion-item>       
            <ion-item>
              <ion-label class="ion-text-wrap">Localidad</ion-label>
              <ion-input name="localidad" type="text" placeholder="Localidad" [(ngModel)]="datos.localidad"></ion-input>
            </ion-item>    
          </div>
          <div>
             <ion-button expand="full" type="submit" color="primary">{{stateButton}}</ion-button>
          </div>
          <div>&nbsp;</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>