<ion-content color="primary">
  <form  #form="ngForm" (ngSubmit)="register()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div style="text-align: center; margin-top:20px">
            <img src="assets/img/logo.png" alt="" style="width:150px;">
          </div>
          <div style="text-align: center;line-height: 20px;font-size: 16px; margin-top:10px"> 
            <span style="font-weight: bold;font-size: 22px;">COVID 19 </span><br _ngcontent-tix-c1=""> Municipalidad de Lanús -  Secretaría de Salud 
          </div>
          <div class="loginBox" style="background: #fff;padding: 10px;color: #000;margin: 30px 0;">
              <div style="text-align: center">
                <h3>Nuevo usuario</h3>
              </div>
              <div>
                <ion-item>
                  <ion-input name="nombre" type="text" placeholder="Nombre" [(ngModel)]="data.nombre" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="apellido" type="text" placeholder="Apellidos" [(ngModel)]="data.apellido" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="email" type="email" placeholder="Correo electrónico" [(ngModel)]="data.email" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Contraseña" [(ngModel)]="data.password" required></ion-input>
                </ion-item>            
              </div>
              <div>
                 <ion-button expand="full" type="submit" color="primary"> Registrarse</ion-button>
                 <ion-button expand="full" type="button" color="secondary" (click)="router.navigateByUrl('home')">Ya tengo cuenta</ion-button>
              </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
