<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mapas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
  <div style="width:100%; height:100%;">
  		<div id="map_canvas" style="width:100%; height:100%;">
  		</div>    
	    <ion-card style="background: rgba(255,255,255,.8);position: absolute;width: 94%;bottom: 10%;">
		  <ion-card-header>
		    <ion-card-subtitle style="text-align: center; font-size:26px"><b>¿Cómo te sentís hoy?</b></ion-card-subtitle>	    
		  </ion-card-header>

		  <ion-card-content style="display: flex">
		  		<ion-button expand="full" type="button" color="primary" style="width:100%" (click)="router.navigateByUrl('main/quedateencasa')">
            <ion-icon name="checkmark-outline" style="border: 1px solid #fff;border-radius: 100%;margin-right: 8px;color: #fff;"></ion-icon>
            Bien
          </ion-button>
		  		<ion-button expand="full" type="button" color="primary" style="width:100%" (click)="router.navigateByUrl('main/prueba')">
            <ion-icon name="close-outline" style="border: 1px solid #fff;border-radius: 100%;margin-right: 8px;color: #fff;"></ion-icon>
            Mal
          </ion-button>
		  </ion-card-content>
		</ion-card>
  </div>
</ion-content>