<ion-header [translucent]="true">
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
	  <span>Noticias</span>      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary"> 
	<ion-card *ngFor="let i of listado">
	  <div>
		  <ion-card-header>
		    <ion-card-title>{{i.post_title}}</ion-card-title>	    
		  </ion-card-header>
		  <ion-card-content style="padding:0">
		  	<img src="{{api.base}}img/app/{{i.meta.imagen.file}}" style="width:100%">
		  </ion-card-content>
		  <ion-card-content [innerHtml]=i.meta.descripcion_corta>
		  </ion-card-content>
		  <ion-card-content>
		  	<ion-button  (click)="showModal(i)" expand="full" color="primary">VER</ion-button>
		  </ion-card-content>
		  <ion-card-content style="text-align: right;font-size: 12px;color: #9f9a9a; padding-top:0">
		  	{{i.post_date_format}}
		  </ion-card-content>	
	  </div>
	</ion-card>

</ion-content>