<ion-header>
	<ion-toolbar>
	    <ion-buttons slot="start">
	      <ion-button color="dark" (click)="close()">
	      <ion-icon name="arrow-back"></ion-icon>
	    </ion-button>
	  </ion-buttons>
	 <ion-title>Noticia</ion-title> 
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
	<div>
		  <ion-card-header>
		    <ion-card-title>{{data.post_title}}</ion-card-title>	    
		  </ion-card-header>

		  <ion-card-content [innerHtml]=data.post_content>
		  </ion-card-content>
		  <ion-card-content style="text-align: right;font-size: 12px;color: #9f9a9a; padding-top:0">
		  	{{data.post_date_format}}
		  	<p>&nbsp;</p>
			<div *ngIf="data.meta.youtube!=''">
		  		<iframe [src]="data.meta.youtube" frameborder="0" style="width: 100%;height: 190px;"></iframe>
		  	</div>
		  </ion-card-content>	
	  </div>

</ion-content>