<ion-header [translucent]="true">
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>Quédate en casa</span>      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
	<ion-card *ngFor="let i of listado">
		<ion-card-content [innerHtml]=i.post_content></ion-card-content>
	  	<ion-card-content style="text-align: right;font-size: 12px;color: #9f9a9a; padding-top:0">
	  		{{i.post_date_format}}
	  	</ion-card-content>	  
	</ion-card>

  <ion-card-content style="display: flex">
      <ion-button expand="full" type="button" color="primary" style="width:100%" (click)="router.navigateByUrl('main/noticias')">        
        Notícias
      </ion-button>
      <ion-button expand="full" type="button" color="primary" style="width:100%" (click)="router.navigateByUrl('main/prueba')">        
        Autoevaluación
      </ion-button>
  </ion-card-content>

</ion-content>