<ion-header [translucent]="true">
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>Consejos</span>            
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary"> 
	<ion-card *ngFor="let i of listado">
	  <ion-card-header>
	    <ion-card-title style="text-align: center">{{i.post_title}}</ion-card-title>	    
	  </ion-card-header>

	  <ion-card-content (click)="showImage(i.post_content)">	    
		<img src="{{i.post_content}}" style="width:100%">
	  </ion-card-content> 
	</ion-card>

</ion-content>